{
  "extends": ["airbnb", "plugin:react/recommended"],
   "rules": {
     "no-console": "off",
     "no-restricted-globals": ["error", "event", "fdescribe"],
     "arrow-body-style": ["error", "always"],
     "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
     "react/prefer-stateless-function": "off"
     },
     "plugins": [
        "react"
      ],
      "env": {
        "browser": true,
        "node": true
      }
}
