<!DOCTYPE html>
<html>

<head>
  <title>SF Film Map</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
  <div id='app'></div>
    <script type="text/javascript" src="/build/bundle.js"></script>
</body>

</html>
