.header {
  margin-top: 0;
  background: $off-grey;
  padding: 1.6rem 0;
}

//Block Element modifier
.header__title {
  font-size: 3.2rem;
  margin: 0;
  margin-left: 0.5rem;
}

@media only screen and (max-width: 568px) {
  .header__title {
    font-size: 1.2rem;
    margin: 0;
    margin-left: 0.1rem;
  }
}
