.nav {
  margin-top: 0;
  padding: 1.6rem 0;
  background-color: $off-purple;
}

.nav:first-child {
  font-size: $font-size;
  color: $off-white;
}

//Block Element modifier

.nav__input {
  height: $font-size;
  margin-top: 0.3rem;
}

@media only screen and (max-width: 568px) {
  .nav__title {
    font-size: 1.2rem;
    margin: 0;
    margin-left: 0.1rem;
  }

}
